[phases.setup]
aptPkgs = [
  "libglib2.0-0",
  "libnss3",
  "libnspr4",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libcups2",
  "libdrm2",
  "libdbus-1-3",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxfixes3",
  "libxrandr2",
  "libgbm1",
  "libpango-1.0-0",
  "libcairo2",
  "libasound2t64",
  "libexpat1",
  "fonts-liberation",
  "libx11-6",
  "libx11-xcb1",
  "libxcb1"
]

[phases.install]
cmds = [
  "rm -rf /root/.cache/puppeteer",
  "npm ci --omit=dev --omit=optional --prefer-offline"
]

[start]
cmd = "node server.js"
